
/*Arma el colage de imagenes de Accesorios*/
.tituloAccesorios{
    @include baseTitulo(4vw);

}
.accesorios{
        margin: 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        justify-items: center;

        &__elementos{
            width: 300px;
            height: 500px;
            display: grid;
            align-content: space-between;
            border-radius: 4%;
            border: solid 10px white;
            background-color: rgb(215, 233, 247);
            img{
                width: 100%;
            }
            h3{
            text-align: center;
            }
            p{
                text-align: center;
            }
            button{
                margin: 5%;
                width: 90%;
                border-radius: 10%;
                text-align: center;
            }
            &:hover{
            transform: scale(1.1);
            }
        
    }
}