.marcas{
    .marcas__titulo{
        @include baseTitulo(4vw);
    }
    .marcas__lista{
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2%;
        
        .marcas__lista__item {
            &:hover{
                background-color: rgba(245, 245, 245, 0.137);
                transform: scale(1.05, 1.05);
            }
            img{
                max-width: 200px;
                width: 45% ;

                min-width: 130px;
            }
        }
    }
}
.caracteristicasTecnicas {
    h2{
        @include baseTitulo(1.5rem);

    }
}
/*Modifica las tablas*/
.estiloTabla{
    background-color: rgba(215, 233, 247, 0.651);
    margin: 1% 2% 3% 2%;
    text-align: center;
    padding: 10px;
    width: 90%;
    ul{
        border-radius: 5%;
        list-style: none;

    }
    th{
        background-color: #9D9D9D;
    
        border: solid black;

    }
    td{
        border: solid black;
    }
}