.marcas{
    .marcas__titulo{
        @include baseTitulo(3.5vw);

    
    }
    .marcas__lista{
        margin: 2% 6%;
        display: flex;
        list-style: none;
        flex-wrap: wrap;
    
        .marcas__lista__item {
            padding: 5px;
            margin: 1rem;
            &:hover{
                background-color: rgba(245, 245, 245, 0.137);
                transform: scale(1.05, 1.05);
            }
        }
    }
}
.caracteristicasTecnicas {
    h2{
        @include baseTitulo(1.5rem);

    }
}
/*Modifica las tablas*/
.estiloTabla{
    background-color: rgba(215, 233, 247, 0.651);
    margin: 1% 2% 3% 2%;
    text-align: center;
    ul{
        list-style: none;

    }
    th{
        background-color: #9D9D9D;
        padding: 5px;
        border: solid black;

    }
    td{
        padding: 2px;
        border: solid black;
    }
}