
.baseConsejos{
    text-align: center;
    color: $colortitulos;
    margin-top: 2%;
    
}
.consejos{
    display: flex;
    margin: 2%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .consejos__titulo{
        @extend .baseConsejos;
    }
    .consejos__etiquetas{
        border: 2px solid black;
        background-color: $fondoCeleste;
        border-radius: 5%;
        width: 30%;
        margin: 2%; 
        min-width: 300px; 
        min-height: 250px;
        padding: 15px;
        color: rgb(110, 110, 110);
        opacity: 0.7;
        transition: all 1s;
        &__titulo{
            @include consejosDiceno(2rem);  
        }
        img{
            height: 140px;
        }
        &__subtitulo{
            @include consejosDiceno(1.5rem); 
        }
        &__texto{
            @include consejosDiceno(1rem); 
            margin-top: 3px;

        }
        &:hover {
            opacity: 1;
            transform: scale(1.2);
            z-index: 1;
        }
    }
}
.cambioAlimento{
    .cambioAlimento__titulo{
        @extend .baseConsejos;

    }
    .cambioAlimento__img{
        margin: 2%;
        width: 90%;
        max-width: 900px;
        min-width: 320px;

    }
}

.cuidadoCahorros{
    .cuidadoCahorros__titulo{
        @extend .baseConsejos;

    }

    .cuidadoCahorros__video{
        margin: 2%;
        padding-left: 2%;
        width: 90%;
        max-width: 560px;
    }
}
