.header{
    background:rgb(215, 233, 247) ;
    
    .header__banner{
        width: 95%;
        margin-left: 2%;
        margin-top: 7px;
    }
    .header__navbar{
        margin-left: 2%;
    }      
}