
.ofertas{ 
    &__titulo{
        @include baseTitulo(5vh);
    }
    &__carousel{
        width: 90%;
    }
}


/* limita el tamaño del cartel de publicidad */
.clientes{
    margin-bottom: 5px;
    &__titulo{
        @include baseTitulo($siseTituloImgCliente);
    }
    &__publicidad{
        max-height: 400px;
        margin: 2% 2% 2% 0%;
        border: $bordeContenedores 1px solid;
        border-radius: 5px;

    }
/*Centra las imagenes de clientes */
    &__imagenes{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &__item{
            border: $bordeContenedores 1px solid;
            padding: 10px;
            background-color: whitesmoke;
            width: 300px;
            height: 300px;
            margin: 5px;
            border-radius: 5px;
            &:hover{
                border: 1px solid rgb(27, 27, 27);
            }
        }
        

    }


}